<div class="login-panel panel panel-green" id="inputfbuserid">
    <div class="panel-heading">
        <h3 class="panel-title">Cám ơn bạn đã sử dụng</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <p>Bạn đã đăng ký thành công. Mình sẽ cập nhật tin tức mới từ Fit.hcmus.edu.vn 2 giờ một lần để đảm bảo không quá tải cho website khoa.</p>
                </div>
            </fieldset>
        </form>
    </div>
</div>
