@using FitNotificaion2.Models
@using Microsoft.AspNet.Identity
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="login-panel panel panel-primary" id="loginpartial">
    <div class="panel-heading">
        <h3 class="panel-title">Chỉ cần đăng nhập Facebook</h3>
    </div>
    <div class="panel-body">
       
            <fieldset>
                <div class="form-group" style="left:50%;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <p>"Bạn đã đăng nhập với FB ID: " + @User.Identity.GetUserName() + "!"</p>
                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    }

                </div>
                <!-- Change this to a button or input when using this as a form -->

            </fieldset>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}