@model IEnumerable<FitNotificaion2.Models.Post>

@{
    ViewBag.Title = "Baiviet";
    Layout = "~/Views/Shared/_BaiVietList.cshtml";
    int counter = 0;
}
<a class="btn btn-primary" style="color: white;" onclick="linkwebsite()">Link website đăng ký nhận thông báo</a>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Bài viết mới</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>


@foreach (var item in Model)
{
    if (counter % 4 == 0)
    {
        <div class="row">
        </div>

    }
    <div class="col-lg-3">
        <div class="panel panel-green" style="cursor: hand;" onclick="redirectweb('@item.ID')">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                @item.Tieude
            </div>
            <div class="panel-footer">
                @item.NgayTao
            </div>
        </div>
    </div>
    {
    counter += 1;
    }

}
<script>
    function linkwebsite() {
        top.location.href = "http://fithcmnotification.apphb.com/Account/Login";
    }
</script>



<script>
    function redirectweb(link) {
        top.location.href = link;
    }
</script>