<div class="login-panel panel panel-green" id="inputfbuserid">
    <div class="panel-heading">
        <h3 class="panel-title">Giới thiệu</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <p>Đây là ứng dụng cho lấy những thông tin mới từ <a>website khoa Công nghệ thông tin</a> trường đại học khoa học tự nhiên. Ứng dụng sẽ chạy dưới dạng webservice để lấy được thông tin.
                    Ứng dụng là tiện ích nhỏ, và phi thương mại. Thông tin người dùng mà website sử dụng là Facebook User ID. Được sử dụng để đăng thông báo cho người dùng, không buôn bán dưới mọi hình thức.</p>

                    <a class="btn btn-primary" style="color: white;" onclick="linkwebsite()">Link website để đăng ký</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    function linkwebsite()
    {
        top.location.href = "http://fithcmnotification.apphb.com/Account/Login";
    }
</script>


